<hr class="featurette-divider">

<div class="container-fluid p-0">

    <footer class="text-center text-lg-start text-dark bg bg-white">

        <div class="container-fluid">

            <section class="">

                <div class="row">

                    <div class="col-md-3 col-lg-3 col-xl-3 mt-3 pl-5 ml-5">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            Zero Waste
                        </h6>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>


                    <hr class="w-100 clearfix d-md-none" />

                    <div class=" col-lg-2 col-xl-2 mt-3 pl-5">

                        <h6 class="text-uppercase mb-4 font-weight-bold">Contato</h6>
                        <p><i class=""></i> São Paulo, SP, Brasil</p>
                        <a href="mailto: zerowastegrupo4@gmail.com">
                            <p class="linkColor">zerowaste@email</p>
                        </a>
                    </div>


                    <hr class="w-100 clearfix d-md-none" />


                    <hr class="w-100 clearfix d-md-none" />


                    <div class="col-md-4 col-lg-3 col-xl-3 mx-3 mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Back-end</h6>
                        ​
                        <picture>
                            <a class="" href="https://www.java.com/pt-BR/">
                                <img src="https://i.imgur.com/k9qioK2.png" class="img-fluid " alt="Java" width="50" height="50"></a>
                        </picture>


                        <picture>
                            <a class="" href="https://www.mysql.com">
                                <img src="https://i.imgur.com/WzZfkm7.png" alt="MySQL" width="50" height="50"></a>
                        </picture>


                        <picture>
                            <a class="" href="https://spring.io/projects/spring-boot">
                                <img src=" https://i.imgur.com/Hmc203a.png" alt="SpringBoot" width="50" height="50"></a>
                        </picture>





                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-3 mt-3 ">
                        <h6 class="text-uppercase mb-4 font-weight-bold ">Front-end</h6>

                        <picture>
                            <a class="" href=" https://angular.io">
                                <img src=" https://i.imgur.com/0OH96wf.png" alt="Angular" width="50" height="50 "></a>
                        </picture>


                        <picture>
                            <a class="" href="https://www.typescriptlang.org">
                                <img src="https://i.imgur.com/wiNmdEN.png" alt="Typescript" width="50" height="50"></a>
                        </picture>


                        <picture>
                            <a class="" href="https://getbootstrap.com">
                                <img src="https://i.imgur.com/UQC5KBx.png" alt="Bootstrap" width="50" height="50"></a>
                        </picture>



                    </div>
                </div>

            </section>

        </div>

        <div class="text-center text-white p-3 bg-green ">
            © 2022 Copyright:
            <a class="text-white " href="https://github.com/Projeto-Integrador-Zero-Waste ">Zero Waste</a>
        </div>

    </footer>

</div>