<footer class="bg-light text-center text-black-50">

    <div class="container p-4">


        <section class="">
            <form action="">

                <div class="row d-flex justify-content-center">

                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Entre em contato</strong>
                        </p>
                    </div>

                    <div class="col-md-5 col-12">

                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example21" class="form-control" />
                            <label class="form-label" for="form5Example21">Email</label>
                        </div>
                    </div>

                    <div class="col-auto">

                        <button type="submit" class="btn btn-outline-dark mb-4">
                Enviar
              </button>
                    </div>

                </div>

            </form>
        </section>

        <section class="mb-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum harum corrupti dicta, aliquam sequi voluptate quas.
            </p>
        </section>

        <section class="">

            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
                    <h5 class="text-uppercase">Linkedin</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-black-50">Beatriz Canuto</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">Camila Martins</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">Eduardo Augusto</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">Giovanna Melo</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">Henrique Bueno</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">Renan Baratella</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">Wanley Rooby</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">GitHub</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-black-50">Beatriz Canuto</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">Camila Martins</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">Eduardo Augusto</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">Giovanna Melo</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">Henrique Bueno</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">Renan Baratella</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">Wanley Rooby</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
                    <h5 class="text-uppercase">Back-end</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-black-50">Java</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">MySQL</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">SpringBoot</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">JUnit</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Front-end</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-black-50">Angular</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">VScode</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">Bootstrap</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50">Typescript</a>
                        </li>
                    </ul>
                </div>

            </div>

        </section>

    </div>

    <div class="text-center p-3 bg-secondary">
        © 2022 Copyright:
        <a class="text-dark " href="">ZeroWaste.com</a>
    </div>

</footer>