<section>
    <div class="gradient-custom ">
        <div class="container py-5 h-100 ">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card text-white" id="bgForm" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase pb-4">Cadastre-se</h2>

                                <div class="fadeIn first pb-4">
                                    <img class="bordaLogin fotoLogin" src="../../assets/img/Logo_Zero_Waste_1.png" id="icon" alt="Zero Waste" />
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input [(ngModel)]="usuario.nome" type="nome" id="typeNomeX" class="form-control form-control-lg" placeholder="Nome" />
                                </div>

                                <div class="form-outline form-white mb-4 ">
                                    <input  [(ngModel)]="usuario.usuario"type="email" id="typeEmailX" class="form-control form-control-lg" placeholder="Usuário" />
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input  [(ngModel)]="usuario.foto"type="foto" id="typeFotoX" class="form-control form-control-lg" placeholder="Link foto" />
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input  (input)='confirmarSenha($event)' type="password" id="senha" class="form-control form-control-lg" placeholder="Senha" />
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input  [(ngModel)]="usuario.senha" type="password" id="confirmSenha" class="form-control form-control-lg" placeholder="Confirme a senha" />
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <select class="form-control form-control-lg" name="tipo" id="tipo" (change)='tipoUser($event)'>
                                        <option>Selecione sua categoria:</option>
                                        <option value="ong">ONG/Associação</option>
                                        <option value="doador">Doador/Empresa</option>
                                    </select>
                                </div>

                                <button class="btn btn-outline-danger btn text-white font-weight-bold px-5 mr-2" type="submit" routerLink="/login">Cancelar</button>

                                <button class="btn btn-outline-success btn text-white font-weight-bold px-5" type="submit"(click)="cadastrar()">Cadastrar</button>

                            </div>

                            <div>
                                <p class="mb-0">Voltar para a página principal? <a href="#!" routerLink="/login" class="text-white-50 fw-bold">Voltar</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>