.gradient-custom {
    background: rgb(181, 204, 171);
    background: linear-gradient(164deg, rgba(103, 115, 98, 1) 21%, rgba(110, 142, 88, 1) 58%, rgba(156, 181, 139, 1) 94%);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    text-align: center;
}

.bordaLogin {
    border-radius: 20%;
}

.fotoLogin {
    width: 250px;
    height: 250px;
}

#bgForm {
    background-color: #586154;
}