<section class="gradient-custom ">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-white" id="bgForm" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase pb-4">Entrar</h2>

                            <div class="fadeIn first pb-4">
                                <img class="bordaLogin fotoLogin" src="../../assets/img/Logo_Zero_Waste_1.png" id="icon" alt="Zero Waste" />
                            </div>

                            <div class="form-outline form-white mb-4 pt-3">
                                <input [(ngModel)]="usuarioLogin.usuario" type="email" id="typeEmailX" class="form-control form-control-lg" placeholder="Email" />
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input [(ngModel)]="usuarioLogin.senha" type="password" id="typePasswordX" class="form-control form-control-lg" placeholder="Senha" />
                            </div>


                            <button class="btn btn-outline-success btn text-white font-weight-bold px-5" type="submit" (click)='entrar()'>Entrar</button>

                        </div>

                        <div>
                            <p class="mb-0">Não tem uma conta? <a href="#!" routerLink="/cadastro" class="text-white-50 fw-bold">Cadastre-se</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>