.navbar-nav {
    font-size: 20px;
}

.navbar {
    background-color: #ffffff;
}

/* .btn-green {
    background-color: #99a793;
} */

#button-perfil{
    border-radius: 25px;
    background-color: #99a793;
    border-color: #000000;
    border-width: 3px;
    font-size: 10pt;
    font-weight: bold;
    height: 40px;
}
 
