<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand " href="#">
        <img src="https://i.imgur.com/5ry54Bv.png" alt="" width="200">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav font-weight-light m-auto">

            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/postagem']">Postagens</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/equipe']">Equipe</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Trabalhe Conosco</a>
            </li>
        </ul>


        <div class="btn-group pl-5 pr-5">
            <button type="button" class="btn dropdown-toggle text-light " id="button-perfil" data-toggle="dropdown">
                Perfil
            </button>
            <div class="dropdown-menu text-center">
                <img src="{{foto}}" class="img-fluid rounded-circle mt-3" alt="imagem do usuario" width="100" height="100">
                <p class="pt-2">{{nome}}</p>
                <a class="dropdown-item pt-3 editarHover" [routerLink]="['/usuario-edit', id]">Editar</a>
                <a class="dropdown-item" (click)='sair()' href="#">Sair</a>
            </div>
        </div>

    </div>
</nav>