<div class="body">
    <div class="bg">
        <div class="container py-5">
            <div class="row text-center text-white">
                <div class="col-lg-8 mx-auto">
                    <h1 class="display-4 mt-5">Conheça nossa equipe</h1>

                </div>
            </div>
        </div>


        <div class="container">
            <div class="row text-center">


                <div class="col-xl-3 col-sm-6 mb-5 ">
                    <div class="rounded shadow-sm py-5 px-4 bgCard"><img src="https://i.imgur.com/3xqLrXA.jpg" alt=""
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm tmFoto">
                        <h5 class="mb-0">Beatriz Canuto</h5><span class="small text-muted">Desenvolvedora Fullstack
                            Jr.</span>
                        <ul class="social mb-0 list-inline mt-4">
                            <li class="list-inline-item"><a href="https://github.com/BeatrizCanuto" target="_blank"
                                    class="social-link"><i class="fa fa-github" aria-hidden="true"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/beatrizcanuto/"
                                    target="_blank" class="social-link"><i class="fa fa-linkedin"
                                        aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bgCard rounded shadow-sm py-5 px-4"><img src="https://i.imgur.com/3foGEGd.jpg" alt=""
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm tmFoto">
                        <h5 class="mb-0">Camila Martins</h5><span class="small text-muted">Desenvolvedora Fullstack
                            Jr.</span>
                        <ul class="social mb-0 list-inline mt-4 ">
                            <li class="list-inline-item"><a href="https://github.com/cami-codes" target="_blank"
                                    class="social-link"><i class="fa fa-github" aria-hidden="true"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/camilamrmartins/"
                                    target="_blank" class="social-link"><i class="fa fa-linkedin"
                                        aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bgCard rounded shadow-sm py-5 px-4"><img src="https://i.imgur.com/vpi0Hh5.jpg" alt=""
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm tmFoto">
                        <h5 class="mb-0">Eduardo Chicarolli</h5><span class="small text-muted">Desenvolvedor Fullstack
                            Jr.</span>
                        <ul class="social mb-0 list-inline mt-4">
                            <li class="list-inline-item"><a href="https://github.com/EduardoChicarolli" target="_blank"
                                    class="social-link"><i class="fa fa-github" aria-hidden="true"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/eduardo-chicarolli/"
                                    target="_blank" class="social-link"><i class="fa fa-linkedin"
                                        aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bgCard rounded shadow-sm py-5 px-4"><img src="https://i.imgur.com/rPml5Ui.jpg " alt=""
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm tmFoto">
                        <h5 class="mb-0">Giovanna Melo</h5><span class="small text-muted">Desenvolvedora Fullstack
                            Jr.</span>
                        <ul class="social mb-0 list-inline mt-4">
                            <li class="list-inline-item"><a href="https://github.com/giomelods" target="_blank"
                                    class="social-link"><i class="fa fa-github" aria-hidden="true"></i></a>
                            </li>
                            <li class="list-inline-item"><a
                                    href="https://www.linkedin.com/in/giovanna-melo-da-silva-408b82167/" target="_blank"
                                    class="social-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-3 col-sm-6 mb-5">
                            <div class="bgCard rounded shadow-sm py-5 px-4"><img src="https://i.imgur.com/gNg8Z66.jpg"
                                    alt="" target="_blank"
                                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm tmFoto">
                                <h5 class="mb-0">Henrique Bueno</h5><span class="small text-muted">Desenvolvedor
                                    Fullstack
                                    Jr.</span>
                                <ul class="social mb-0 list-inline mt-4">
                                    <li class="list-inline-item"><a href="https://github.com/Henrique-MB"
                                            target="_blank" class="social-link"><i class="fa fa-github"
                                                aria-hidden="true"></i></a>
                                    </li>
                                    <li class="list-inline-item"><a
                                            href="https://www.linkedin.com/in/henrique-bueno-994467244/" target="_blank"
                                            class="social-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <!-- não achei o linkedin do henrique -->
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xl-3 col-sm-6 mb-5">
                            <div class="bgCard rounded shadow-sm py-5 px-4"><img src="https://i.imgur.com/gtZmUAQ.jpg"
                                    alt="" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm tmFoto ">
                                <h5 class="mb-0">Renan Baratella</h5><span class="small text-muted">Desenvolvedor
                                    Fullstack
                                    Jr.</span>
                                <ul class="social mb-0 list-inline mt-4">
                                    <li class="list-inline-item"><a href="https://github.com/renanbaratella"
                                            target="_blank" class="social-link"><i class="fa fa-github"
                                                aria-hidden="true"></i></a>
                                    </li>
                                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/renan-baratella/"
                                            target="_blank" class="social-link"><i class="fa fa-linkedin"
                                                aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xl-3 col-sm-6 mb-5">
                            <div class="bgCard rounded shadow-sm py-5 px-4"><img src="https://i.imgur.com/RR8TzRu.jpg"
                                    alt="" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm tmFoto">
                                <h5 class="mb-0">Wanley Rooby</h5><span class="small text-muted">Desenvolvedor Fullstack
                                    Jr.</span>
                                <ul class="social mb-0 list-inline mt-4">
                                    <li class="list-inline-item"><a href="https://github.com/Wanleyrooby"
                                            target="_blank" class="social-link"><i class="fa fa-github"
                                                aria-hidden="true"></i></a>
                                    </li>
                                    <li class="list-inline-item"><a
                                            href="https://www.linkedin.com/in/wanley-rooby-alexis/" target="_blank"
                                            class="social-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>