<div class="body">
    <div class="bg">
        <div class="container pb-5">
            <div class="row text-center text-white">
                <div class="col-lg-8 mx-auto">
                    <h1 class="display-4 mt-5">Conheça nossa equipe</h1>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="our-team " style="height: 400px">
                        <div class="picture">
                            <img class="img-fluid" src="https://i.imgur.com/3xqLrXA.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="name">Beatriz Canuto</h3>
                            <h4 class="title">Desenvolvedora Java Web Fullstack Jr.</h4>
                            <p>24 anos, sou alagoana, e busco a formação em tecnologia.</p>

                        </div>
                        <ul class="social">
                            <li><a href="https://github.com/BeatrizCanuto/" target="_blank" class="fa fa-github"
                                    aria-hidden="true"></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/beatrizcanuto/" target="_blank"
                                    class="fa fa-linkedin" aria-hidden="true"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="our-team" style="height: 400px">
                        <div class="picture">
                            <img class="img-fluid" src="https://i.imgur.com/3foGEGd.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="name">Camila Martins</h3>
                            <h4 class="title">Desenvolvedora Java Web Fullstack Jr.</h4>
                            <p>Apaixonada por tecnologia. Com assertividade e curiosidade, busco resoluções distintas
                                para o mesmo problema.</p>
                        </div>
                        <ul class="social">
                            <li><a href="https://github.com/cami-codes/" target="_blank" class="fa fa-github"
                                    aria-hidden="true"></a></li>
                            <li><a href="https://www.linkedin.com/in/camilamrmartins/" target="_blank"
                                    class="fa fa-linkedin" aria-hidden="true"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="our-team" style="height: 400px">
                        <div class="picture">
                            <img class="img-fluid" src="https://i.imgur.com/vpi0Hh5.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="name">Eduardo Chicarolli</h3>
                            <h4 class="title">Desenvolvedor Java Web Fullstack Jr.</h4>
                            <p>Cursando Bacharelado em administração, e me
                                profissionalizando como desenvolvedor de software.</p>
                        </div>
                        <ul class="social">
                            <li><a href="https://github.com/EduardoChicarolli" target="_blank" class="fa fa-github"
                                    aria-hidden="true"></a></li>
                            <li><a href="https://www.linkedin.com/in/eduardo-chicarolli/" target="_blank"
                                    class="fa fa-linkedin" aria-hidden="true"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="our-team" style="height: 400px">
                        <div class="picture">
                            <img class="img-fluid" src="https://i.imgur.com/rPml5Ui.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="name">Giovanna Melo</h3>
                            <h4 class="title">Desenvolvedora Java Web Fullstack Jr.</h4>
                            <p>22 anos, adoro explorar o desconhecido e aprender coisas novas
                                para obter o meu melhor desempenho.</p>

                        </div>
                        <ul class="social">
                            <li><a href="https://github.com/giomelods" class="fa fa-github" target="_blank"
                                    aria-hidden="true"></a></li>
                            <li><a href="https://www.linkedin.com/in/giovanna-melo-da-silva-408b82167/" target="_blank"
                                    class="fa fa-linkedin" aria-hidden="true"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <div class="container mt-3 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="our-team" style="height: 400px">
                        <div class="picture ">
                            <img class="img-fluid" src="https://i.imgur.com/gNg8Z66.jpg?1">
                        </div>
                        <div class="team-content">
                            <h3 class="name">Henrique Bueno</h3>
                            <h4 class="title">Desenvolvedor Java Web Fullstack Jr.</h4>
                            <p>Desenvolvedor Java Junior - Generation Brasil, 2022</p>
                        </div>
                        <ul class="social">
                            <li><a href="https://github.com/Henrique-MB" class="fa fa-github" target="_blank"
                                    aria-hidden="true"></a></li>
                            <li><a href="https://www.linkedin.com/in/henrique-bueno-994467244/" class="fa fa-linkedin"
                                    target="_blank" aria-hidden="true"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="our-team" style="height: 400px">
                        <div class="picture">
                            <img class="img-fluid" src="https://i.imgur.com/gtZmUAQ.jpg?1">
                        </div>
                        <div class="team-content">
                            <h3 class="name">Renan Baratella</h3>
                            <h4 class="title">Desenvolvedor Java Web Fullstack Jr.</h4>
                            <p>Faço faculdade de análise e desenvolvimento de sistemas, meu grande desejo é
                                ser um desenvolvedor.</p>
                        </div>
                        <ul class="social">
                            <li><a href="https://github.com/renanbaratella" target="_blank" class="fa fa-github"
                                    aria-hidden="true"></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/renan-baratella/" target="_blank"
                                    class="fa fa-linkedin" aria-hidden="true"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
                    <div class="our-team" style="height: 400px">
                        <div class="picture">
                            <img class="img-fluid" src="https://i.imgur.com/RR8TzRu.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="name">Wanley Rooby</h3>
                            <h4 class="title">Desenvolvedor Java Web Fullstack Jr.</h4>
                            <p>Cursando Comércio Exterior. Eu sou um desenvolvedor Java Júnior.</p>
                        </div>
                        <ul class="social">
                            <li><a href="https://github.com/Wanleyrooby" target="_blank" class="fa fa-github"
                                    aria-hidden="true"></a></li>
                            <li><a href="https://www.linkedin.com/in/wanley-rooby-alexis/" target="_blank"
                                    class="fa fa-linkedin" aria-hidden="true"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>