#button-cancelar {
    border-radius: 15px;
    background-color: #D11A2A;
    font-size: 10pt;
    font-weight: bold;
    width: 100px;
    text-align: center;
}

#button-publicar {
    border-radius: 15px;
    background-color: #4BB543;
    font-size: 10pt;
    font-weight: bold;
    width: 100px;
    text-align: center;
}

#button-cancelar:hover {
    color: rgb(0, 0, 0);
}

#button-publicar:hover {
    color: rgb(0, 0, 0);
}

.modal {
    display: none;
    /* Hidden by default */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: rgb(215, 226, 208);
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.button-salvar {
    border-radius: 15px;
    background-color: #4BB543;
    font-size: 10pt;
    font-weight: bold;
}

.button-cancelar {
    border-radius: 15px;
    background-color: #D11A2A;
    font-size: 10pt;
    font-weight: bold;
    width: 100px;
    text-align: center;
}

.bg {
    background: rgb(137, 165, 139);
}

.button-cancelar:hover {
    color: rgb(0, 0, 0);
}

.button-salvar:hover {
    color: rgb(0, 0, 0);
}
