<div class="container-fluid">

    <div class="row d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="fontSize54">Zero Waste</h1>
                    <h5 class="fontSize18">Sobre a empresa</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <a class="btn btn-outline-dark" href="#postagens" routerLink="/postagem">Postagens</a>
                </div>
            </div>

        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/UMDiEKL.png" alt="" width="500px" height="500px">
        </div>
    </div>
</div>
<div class="container marketing">

    <hr class="featurette-divider">

    <div class="row featurette align-items-lg-center">
        <div class="col-md-7">
            <h2 class="featurette-heading">Fome <span class="text-muted">um problema mundial.</span>
            </h2>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur assumenda qui, asperiores ex autem voluptatum nesciunt magni corrupti molestias quaerat? Esse deserunt dignissimos molestiae ut iure hic asperiores dolorem sint! </p>
        </div>
        <div class="col-md-5 ">
            <img src="https://i.imgur.com/usSrnDL.png " class="featurette-image img-fluid mx-auto" alt="Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false">

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette align-items-lg-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Desperdício <span class="text-muted">a solução começa na sua casa.</span>
            </h2>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione qui harum vero sunt id eligendi labore reprehenderit adipisci! Eaque consequuntur id dolores qui sit inventore. Perferendis quod ab dolore ducimus.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="https://i.imgur.com/2qGSvWt.png" class="featurette-image img-fluid mx-auto" alt="Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette align-items-lg-center">
        <div class="col-md-7">
            <h2 class="featurette-heading">Solidariedade <span class="text-muted">conectantando boas ações com quem precisa.</span></h2>
            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur eos eveniet qui nam! At asperiores voluptatem ad fugit, molestias eligendi, doloremque itaque, laborum enim sapiente omnis veniam dolorem alias. Rem.</p>
        </div>
        <div class="col-md-5">
            <img src="https://i.imgur.com/m3K1767.png" class="featurette-image img-fluid mx-auto" alt="Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false">

        </div>
    </div>

    <hr class="featurette-divider">